.classified-container ul {
  height: 100%;
  width: 100%;
  list-style: none; }
  .classified-container ul li {
    -webkit-box-shadow: 0px 0px 3px #888888;
    -moz-box-shadow: 0px 0px 3px #888888;
    -o-box-shadow: 0px 0px 3px #888888;
    box-shadow: 0px 0px 3px #888888;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 150px;
    margin-bottom: 8px;
    transition: box-shadow .5s; }
    .classified-container ul li:hover {
      -webkit-box-shadow: 0px 0px 20px gray;
      -moz-box-shadow: 0px 0px 20px gray;
      -o-box-shadow: 0px 0px 20px gray;
      box-shadow: 0px 0px 20px gray; }
    .classified-container ul li div.cla-left {
      vertical-align: top;
      display: inline-block;
      height: 95%;
      width: 49%;
      border: 0px red solid;
      padding: 20px; }
      .classified-container ul li div.cla-left h2.cla-title {
        font-size: 1.3em;
        font-weight: 550; }
      .classified-container ul li div.cla-left h3.cla-keywords {
        margin-top: 10px;
        font-size: 1em;
        font-weight: 900;
        color: darkorange; }
        .classified-container ul li div.cla-left h3.cla-keywords span {
          display: inline-block;
          margin-right: 15px; }
      .classified-container ul li div.cla-left h3.cla-resume {
        margin-top: 10px;
        font-size: 1em; }
      .classified-container ul li div.cla-left h4.cla-type-num {
        margin-top: 20px; }
        .classified-container ul li div.cla-left h4.cla-type-num span {
          font-size: 0.8em; }
          .classified-container ul li div.cla-left h4.cla-type-num span.num-id {
            position: absolute;
            left: 271px; }
    .classified-container ul li div.cla-right {
      vertical-align: top;
      display: inline-block;
      height: 95%;
      width: 49%;
      border: 0px blue solid; }
      .classified-container ul li div.cla-right div.cla-img-box {
        height: 100%;
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .classified-container ul li div.cla-right div.cla-img-box img[class|="cla-img"] {
          -webkit-border-top-left-radius: 0px;
          -moz-border-top-left-radius: 0px;
          -o-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
          -webkit-border-top-right-radius: 0px;
          -moz-border-top-right-radius: 0px;
          -o-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
          -webkit-border-bottom-left-radius: 0px;
          -moz-border-bottom-left-radius: 0px;
          -o-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          -webkit-border-bottom-right-radius: 0px;
          -moz-border-bottom-right-radius: 0px;
          -o-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border: 2px #888888 solid;
          margin-top: 5px;
          height: 90%;
          width: 45%; }
        .classified-container ul li div.cla-right div.cla-img-box img.cla-img-1 {
          margin-left: 10px; }
